body {
    margin: 0;
    line-height: 2em;
}

html {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #919191;
    transition: color .2s ease,border-color .2s ease,background .2s ease,opacity .2s ease;
    text-decoration: none;
}

.navbar {
    height: 4rem;
    line-height: 4rem;
    width: 100%;
}

.navbar .container {
    width: auto;
    max-width: 1080px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-header a:hover,
.navbar .menu a:hover {
    background-color: transparent;
}

/*page*/
.page-wrap {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding-top: 1rem;
}

.article-item-createdt {
    text-align: right;
    float: right;
    color: #858585;
}

.page-content {
    padding-top: 2rem;
    text-align: justify;
}


.page-nav a.prev {
    float: left;
}

.page-nav [class |=next] {
    float: right;
}

.page-nav a.prev::before {
    content: "◀"
}

.page-nav a.next::after {
    content: "▶";
}


/* phone */
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .pmobile {
        width: 90%;
    }

    .article-item-createdt{
        display:none;
    }
}
