@{
    ViewData["Title"] = "文章详情";
}
@section CSS{
    <link rel="stylesheet" href="~/lib/editor.md/css/editormd.preview.min.css" asp-append-version="true" />
<style>
    .gotop-box {
        position: fixed;
        cursor: pointer;
        bottom: 40px;
        right: 5%;
        font-size: 30px;
        color: #409eff; 
    }
</style>
}
<div class="main">
    <div class="container">
        <article class="page-wrap  pmobile">
            <script id="page_tmpl" type="text/template">
                <header class="page-header">
                    <h1 class="page-title">{{@@result.title}}</h1>
                    <div class="page-meta">
                        Author: <a href="javascript:;">{{@@result.author}}</a>
                        <span class="page-time">
                            Date: <a href="javascript:;">{{@@result.create_Dt_Str}}</a>
                        </span>
                    </div>
                </header>
                <div class="post-content" id="content">
                    <textarea style="display: none;">{{@@result.page_Content}}</textarea>
                </div>
                <section class="page-nav">
                    {{if result.previous }}
                    <a class="prev" href="/Blog/Page?page_id={{@@result.previous.page_Id}}">{{@@result.previous.title}}</a>
                    {{/if}}
                    {{if result.next }}
                    <a class="next" href="/Blog/Page?page_id={{@@result.next.page_Id}}">{{@@result.next.title}}</a>
                    {{/if}}
                </section>
            </script>
        </article>
        <div id="gotop-box" class="gotop-box">
            <i>▲</i>
        </div>
    </div>
</div>
    @section Scripts{
        <script src="~/js/axios.min.js"></script>
        <script src="~/js/template-web.js"></script>
        <script src="~/js/jquery-3.4.1.min.js"></script>
        <script src="~/lib/editor.md/editormd.min.js"></script>
        <script src="~/lib/editor.md/lib/marked.min.js"></script>
        <script src="~/lib/editor.md/lib/prettify.min.js"></script>

        <script>

            //dev
            var api_domain = "http://localhost:5002";
            //produce
           // var api_domain = "http://47.95.255.71:7002";

            var page_id = getQueryVariable("page_id");
           async function getPage() {
                await axios.get(`${api_domain}/blog/page?page_id=${page_id}`).then(function (response) {
                    if (response.status == '200') {
                        var html = template('page_tmpl', response.data);
                        document.querySelector('.page-wrap').innerHTML = html;
                    }
                    else {
                        console.log(response.data.message);
                    }
                   
                    editormd.markdownToHTML("content");

                    document.getElementsByClassName
                });
            }
            /**
             * [文章置顶功能]
             * 获取按钮事件置顶
             * 事件监听window窗体滑动条
             * param:
             * return:void
             * */
            function GoBodyTop() {
                var gotop_box = document.getElementById("gotop-box");
                var scrollTop = null;
                gotop_box.onclick = function () {
                    var timer = setInterval(function () {
                        window.scrollBy(0, -200);
                        if (scrollTop == 0)
                            clearInterval(timer);
                    }, 2);
                };
                window.onscroll = function () {
                    scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
                    gotop_box.style.display = (scrollTop >= 300) ? "block" : "none";
                }
            }
            GoBodyTop();
            getPage();
        </script>
    }
