@{
    ViewData["Title"] = "Test";
}
    <div id="page-title-tpl" class="page-blank">
        <script id="tpl" type="text/template">
            {{each data}}
            <h3>
                {{$value.year}}
            </h3>
                {{each $value.pageTitleDtos}}
                    <article>
                        <a href="/Blog/Page?page_id={{$value.page_Id}}">{{$value.page_Title}} </a>
                        <span class="article-item-createdt">{{$value.create_Dt}}</span>
                    </article>
                {{/each}}
            {{/each}}
        </script>
    </div>
@section Scripts{ 
<script src="~/js/axios.min.js"></script>
<script src="~/js/template-web.js"></script>
<script>
    var api_domain = "http://localhost:8036";

    axios.get(`${api_domain}/blog/page/querypage?Page=1&Limit=20`,{ withCredentials: true }).then(function (response) {

        if (response.status == '200') {
            var html = template('tpl', response.data);
            document.querySelector('#page-title-tpl').innerHTML = html;
        }
        else {
            console.log(response.data.message);
        }
    });
</script>
}
