<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("CSS", required: false)
    <title>@ViewData["Title"] - AleBlog</title>
</head>
<body>
    <div class="blank">
        <header>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <a id="header-left-btn" title="点击收缩导航栏" style="font-size:10px;">⇱ </a>
                        <a href="/">林阿乐🌝</a>
                    </div>
                    <div class="menu navbar-right">
                        <a class="menu-item" href="javascript:">文章</a>
                        <a class="menu-item" href="javascript:">~</a>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
    </div>
</body>
</html>
<script>
    /**
    * [通过参数名获取url中的参数值]
    * 示例URL:https://;localhost:80/Home/Page?page_id=71
    * param  {[string]} queryName [参数名]
    * return {[string]}           [参数值]
    */
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) { return pair[1]; }
        }
        return (false);
    }
</script>
@RenderSection("Scripts", required: false)
